---
import Social from "@components/Social.astro";
import config from "@config/config.json";
import menu from "@config/menu.json";
import social from "@config/social.json";
import { markdownify } from "@lib/utils/textConverter";
---

<footer class="section bg-theme-dark">
  <div class="container text-center">
    {/* footer menu */}
    <ul class="mb-8 space-x-4">
      {
        menu.footer.map((menu) => (
          <li class="inline-block">
            <a href={menu.url} class="p-4 text-white/75 hover:text-white transition-all">
              {menu.name}
            </a>
          </li>
        ))
      }
    </ul>
    {/* social icons */}
    <Social source={social} className="social-icons mb-8" />
    {/* copyright */}
    <p set:html={markdownify(config.params.copyright.replace('{year}', new Date().getFullYear()))} class="text-white/75 text-sm mb-1" />
    <p set:html={markdownify(config.params.acknowledgement)} class="text-white/75 text-xs" />
    <p></p>
  </div>
</footer>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-3764211-9"></script>
<script is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-3764211-9');
</script>