---
import { Image } from 'astro:assets';
import Base from "@layouts/Base.astro";
import { markdownify } from "@lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";

const entry = await getEntryBySlug("about", "index");
const { Content } = await entry.render();
const { title, subtitle, description, meta_title, image, what_i_do } = entry.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <section class="section">
    <div class="container">
      <div class="row md:gx-4">
        <div class="xs:col-12 md:col-5 md:offset-1">
          {image ? (
            <div class="img-cover mb-8">
              <Image
                src={image}
                width={295}
                height={395}
                alt={title}
                class="rounded-lg w-full"
              />
            </div>
          ) : (
            <div class="flex flex-col align-middle justify-center text-center h-64 rounded-xl bg-primary text-white">
              <span class="text-8xl flex flex-col tracking-tighter justify-center align-middle m-auto bg-white text-primary rounded-full w-44 h-44">
                ac
              </span>
            </div>
          )}
        </div>
        <div class="xs:col-12 md:col-6">
          <h1 set:html={markdownify(title)} class="h3 mb-8" />

          <p class="subtitle text-xl font-bold italic text-slate-500 mb-12">{subtitle}</p>
        </div>
      </div>
      <div class="row md:gx-4">
        <div class="sm:col-12 md:col-8 md:offset-2">
          <div class="content">
            <Content />
          </div>
          <!-- <a href="/contact" class="btn btn-primary text-white py-2">Get In Touch</a> -->
        </div>
      </div>
    </div>
  </section>

  {what_i_do && <section class="section pt-0">
    <div class="container">
      <h3 class="page-heading mb-20">{what_i_do.title}</h3>
      <div class="row justify-center gy-4 text-center">
        {what_i_do.items.map((item: any) => (
          <div class="lg:col-4 md:col-6">
            <i class="{{.icon}} fa-3x text-primary mb-4"></i>
            <h4 class="text-dark font-weight-700 mb-3">{item.title}</h4>
            <p>{item.description}</p>
          </div>
        ))}
      </div>
    </div>
  </section>}
</Base>
