---
import { Image } from "astro:assets";
import config from "@config/config.json";;
import dateFormat from "@lib/utils/dateFormat";
import { humanize, markdownify, slugify } from "@lib/utils/textConverter";
import { BiCalendarAlt, BiTagAlt } from "react-icons/bi";
const { summary_length } = config.settings;
const { className, posts, fluid } = Astro.props;
---

<div
  class={`row gy-5 gx-4 ${className} ${posts.length == 1 ? "justify-center" : ""} `}
>
  {
    posts.map((post: any, i: number) => (
      <div class={i === 0 && fluid != false ? "col-12" : "col-12 sm:col-6"}>
        {post.data.short && (
        <div class="p-1 lg:p-0 lg:float-right lg:ml-4 rounded-lg overflow-hidden bg-slate-200">
          <iframe
            class="m-auto"
            src={`https://www.youtube.com/embed/${post.data.short}`}
            width={i == 0 ? 210 : 131}
            height={i == 0 ? 373 : 233}
          >
            {/* <a
              href={`https://www.youtube.com/shorts/${post.data.short}`}
              target="_blank"
            >
              View video at https://www.youtube.com/embed/{post.data.short}
            </a> */}
          </iframe>
        </div>
        )}
        {post.data.image && (
          <a
            href={`/posts/${post.slug}`}
            class="rounded-lg block hover:text-primary overflow-hidden group"
          >
            <Image
              class="group-hover:scale-[1.03] transition duration-300 w-full p-1 overflow-hidden border-2 rounded-md border-slate-100 bg-slate-50"
              src={post.data.image}
              alt={post.data.title}
              width={i === 0 ? 925 : 445}
              height={i === 0 ? 475 : 230}
            />
          </a>
        )}
        <h3 class="mb-4 mt-8">
          <a
            href={`/posts/${post.slug}`}
            class="block hover:text-primary transition duration-300"
          >
            {post.data.title}
          </a>
        </h3>
        <ul class="mt-6 mb-4 flex flex-wrap items-center text-text">
          {/*<li class="mr-5">
            {authors
              .filter((author) =>
                post.data.authors
                  .map((author: string) => slugify(author))
                  .includes(slugify(author.data.title))
              )
              .map((author) => (
                <a
                  href={`/authors/${slugify(author.data.title)}`}
                  class="flex items-center hover:text-primary font-medium"
                >
                  {author.data.image && (
                    <Image
                      src={author.data.image}
                      alt={author.data.title}
                      height={50}
                      width={50}
                      class="mr-2 h-6 w-6 rounded-full"
                    />
                  )}
                  <span>{author.data.title}</span>
                </a>
              ))}
              </li>*/}
          <li class="mr-5 flex items-center flex-wrap font-medium">
            <BiCalendarAlt className="mr-1 h-5 w-5 text-gray-600" />
            <>{dateFormat(post.data.date)}</>
          </li>
          <li class="mr-5 flex items-center flex-wrap">
            <BiTagAlt className="mr-1 h-[18px] w-[18px] text-gray-600" />
            <>
              <ul>
                {post.data.categories.map((category: string, i: number) => (
                  <li class="inline-block">
                    <a
                      href={`/categories/${slugify(category)}`}
                      class="mr-2 hover:text-primary font-medium"
                    >
                      {humanize(category)}
                      {i !== post.data.categories.length - 1 && ","}
                    </a>
                  </li>
                ))}
              </ul>
            </>
          </li>
        </ul>

        <p class="text-text">
          {post.data.description ||
            markdownify(
              post.body?.slice(
                0,
                Number(
                  i === 0 && fluid != false
                    ? summary_length * 2
                    : summary_length
                )
              )
            ) + "..."}
        </p>
      </div>
    ))
  }
</div>
